* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

.clear {
  clear: both;
}

.text-white {
  color: #fff !important;
}

.text-center {
  text-align: center !important;
}

.mt-8 {
  margin-top: 8px !important;
}

.mt-16 {
  margin-top: 16px !important;
}

.mt-32 {
  margin-top: 32px !important;
}

.row {
  margin: 0 -8px;
}

.row::after {
  content: "";
  display: block;
  clear: both;
}

.col {
  float: left;
  padding: 0 8px;
}

.col-full {
  width: 100%;
}

.col-3 {
  width: 33.3333%;
}

.col-2 {
  width: 50%;
}
