#content {
    .content-section {
        width: 800px;
        padding: 64px 0;
        margin: 0 auto;

        .section-heading {
            font-size: 30px;
            text-align: center;
            font-weight: 500;
            letter-spacing: 4px;
        }

        .section-sub-heading {
            font-size: 15px;
            text-align: center;
            margin-top: 25px;
            font-style: italic;
            opacity: 0.6;
        }

        .about-text {
            margin-top: 25px;
            text-align: justify;
            line-height: 1.4;
        }
    }

    .member-list {
        margin-top: 48px;
        margin-bottom: 48px;

        .member-item {

            .member-name {
                font-size: 15px;
            }

            img {
                margin-top: 15px;
                width: 154px;
                height: 154px;
                border-radius: 5px;
            }
        }
    }
    // Tour Section
    .tour-section {
        background-color: #000;

        .content-section {
            .ticket-list {
                background-color: #fff;
                margin-top: 40px;
                list-style: none;

                li {
                    color: #757575;
                    font-size: 15px;
                    padding: 11px 16px;
                    border-bottom: 1px solid #ddd;
                }

                .sold-out {
                    background-color: #f44336;
                    color: #fff;
                    padding: 3px 4px;
                    margin-left: 16px;
                }

                .quantity {
                    float: right;
                    width: 24px;
                    height: 24px;
                    background-color: #000;
                    color: #fff;
                    border-radius: 50%;
                    text-align: center;
                    line-height: 24px;
                    margin-top: -3px;
                }
            }

            .place-list {
                margin-top: 32px;
                margin-bottom: 48px;

                .place-item {
                    img {
                        width: 100%;
                        display: block;
                    }

                    img:hover {
                        opacity: 0.6;
                    }

                    .place-body {
                        background: #fff;
                        padding: 16px 16px;
                        font-size: 15px;
                    }

                    .place-heading {
                        font-size: 15px;
                        font-weight: 600;
                    }

                    .place-desc {
                        margin-top: 15px;
                        line-height: 1.4;
                    }

                    .place-time {
                        margin-top: 15px;
                        color: #757575;
                    }

                    .place-buy-btn {
                        margin-top: 15px;
                        display: inline-block;
                        color: #fff;
                        background: #000;
                        text-decoration: none;
                        padding: 11px 16px;
                    }

                    .place-buy-btn:hover {
                        background-color: #ccc;
                        color: #000;
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .contact-content {
        margin-top: 48px;

        .contact-info {
            font-size: 18px;
            line-height: 1.5;

            i[class*="ti-"] {
                display: inline-block;
                width: 30px;
            }
        }

        .contact-form {
            font-size: 15px;

            .form-control {
                padding: 10px;
                border: 1px solid #ccc;
                width: 100%;
            }

            .form-submit-btn {
                color: #fff;
                background-color: #000;
                border: 1px solid #000;
                padding: 10px 16px;
                float: right;
                outline: none;
            }

            .form-submit-btn:hover {
                background-color: #ccc;
                color: #000;
                cursor: pointer;
                border: 1px solid #ccc;
            }
        }
    }

    .map-section {
        img {
            width: 100%;
        }
    }
}
